body  {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1em;
    color:black;
    background-color: white;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: rgb(110, 108, 108);
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(110, 108, 108);
}

a, a:visited {
    text-decoration: none;
    color: #3091DC;
}

a:hover {
    text-decoration: underline;
    color: #319ff3;
}

.container {
    border: solid 1px #ccc;
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
    margin-bottom: 10px;
}

.container h1, .container h2, .container h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.description {
    text-align: justify;
}

.ownedby img {
    vertical-align: middle;
    border: 0;
}
.owner {
    display: flex;
    align-items: center;
}
.owner img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.footer {
    text-align: center;
    border-top: 2px dashed steelblue;
    width: 70%;
    margin: auto;
}
.actionmkt {
    font-size: x-small;
}
.lastupd {
    font-size: small;
}
#issues {
    border: 1px solid #ccc;
    background-color: #eeeeff;
}
.issue {
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 1px #7482ff;
    padding: 0px 5px 5px 5px;
    margin:10px 0px 5px 0px;
}

.issue > * {
    flex: 1 1 30%;
    min-width: 10ch;
    font-size: 0.9em;
}
.issue > *:nth-child(1) {
    flex: 1 1 65%;
    min-width: 20ch;
}

.languagesBar {
    display: flex;
    width: 100%;
    height: 8px;
}
.languageName {
    color: black;
    font-size: small;
}

.topics {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.topics span {
    color: #003968;
    border: #003968 1px solid;
    background-color: #47acff;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 0.8em;
}

.topics a {
    color: #003968;
}

#readme_inline {
    border: solid 1px #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}
.readme_title {
    text-align: center;
    color: #333;
    background-color: #ccc;
    padding: 5px 0px 5px 0px;
    /* top right bottom left */
    border-radius: 10px 10px 0px 0px;
    clear: both;
    width: 100%;
}
.readme_content {
    border-radius: 10px;
    padding: 10px;
}
/* Elements for the converted README.md */
table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    background-color: white;
}

th {
    background-color: #ccc;
}

td {
    padding: 5px;
    border: 1px solid #ccc;
}

pre {
    background-color: #ccc;
}
/* END: Elements for the converted README.md */
